<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 text-center">Stance Nation Scraper</h1>
    <p class="lead text-cemter">Scrape the lasstest artilces from stnace nation with the click of a button</p>
  </div>
</div>
<div class="art">
	
</div>
<!-- <form aciton="/scrape" method="POST" >
	<button type="submit">Scrape</button>
</form>
 -->